@page
@model ChristmasCalendar.Pages.Test.LoginModel
@{
    ViewData["Title"] = "login";
}
<h2>login</h2>
<strong>Logg inn med:</strong><br /><br />
<form asp-page="/Account/ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
    <div>
        <p>
            @foreach (var provider in Model.ExternalLogins)
            {
                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
            }
        </p>
    </div>
</form>
