@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Registrer";
}


<row>
    <div class="col-lg-10 col-lg-offset-1">
        <h2>
            <strong>
                Registrer deg til Novanet Julekalender
            </strong>
        </h2>
        <hr />

        <p class="text-info">
            Du er autentisert med <strong>@Model.LoginProvider</strong>.<br /><br />
            Julekalenderen vil bruke navnet ditt fra @Model.LoginProvider for visning av poeng.<br />
            Novanet vil bruke epostadressen din til å sende ut informasjon om julekalenderen.<br /><br />
            Vennligst registrer epost.
        </p>

        <div class="row">
            <div class="col-md-4">
                <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label>Epost</label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-default">Register</button>
                </form>
            </div>
        </div>

    </div>
</row>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
