@page
@model AnswerHasBeenRegisteredModel
@{
}
<row>
    <div class="col-lg-10 col-lg-offset-1">
        <a asp-page="/Index"><img src="~/images/NN_Logo_Liten_RGB.svg" alt="novanet-logo" width="100" /></a>
        <div class="nav-links pull-right">
            <a class="nav-links" asp-page="/Highscore/Highscore">Poeng</a><a class="nav-links" asp-page="/Doors/PreviousDoors">Tidligere luker</a>
        </div>
    </div>
</row>
<row>
<row>
    <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>
            <strong>
                Svaret er levert
            </strong>
        </h2>
        <br>
        Man kan svare flere ganger, det er det siste svaret som gjelder.
        <br />
        <br />
        Fasiten på luken kommer i morgen under Tidligere luker.
    </div>
</row>
